<IfModule mod_rewrite.c>
    RewriteEngine On
    # If request is for a real file or directory, don't rewrite
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
